<html>
   <body>
      <h1>Lecture</h1>
      <h2>Show Demo for Flask</h2>
      <h3>Enter Value for Independent Variables</h3>
      <form action = "http://localhost:5000/prediction" method = "POST">
         <p>Booking Customer Name <input type = "text" name = "Name" /></p>
         <p>Average Daily Rate (adr) <input type = "text" name = "adr" /></p>
         <p>No_Of_Children<input type = "text" name = "children" /></p>
         <p><input type = "submit" value = "submit" /></p>
      </form>
   </body>
</html>